
name: CD

on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Build contracts
      run: yarn build:contracts
    - name: Run tests
      run: yarn test
  deploy:
    runs-on: ubuntu-latest
    needs: test
    env:
      CD: true
      ETH_KEY: ${{ secrets.ETH_KEY }}
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      REGISTRY_RINKEBY: "0xb10cC52d71444A16F4c35061aFB3F31B6be6748A"
    steps:
    - uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Install dependencies
      run: yarn install --frozen-lockfile
    - name: Deploy Factory
      run: cd packages/govern-create && yarn deploy-factory --network rinkeby
    - name: Deploy Govern
      run: cd packages/govern-create && yarn deploy-govern --network rinkeby > github-message
    - name: Log
      run: cat packages/govern-create/github-message